.footer {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    align-content: center;
    padding: 10px 0px 10px 0px;
    background-color:#F7F7F7;
    width: 100%;
   }
.textfield{
    flex-grow: 1;
    padding: 0% 0% 0% 5%;
}
button{
    padding: 10px;
    margin: 0% 2% 0% 2%;
}