/* li {
    position: relative;
    left: 0;
    background-color: #EEE;
    width: 70%;
    margin: auto;
    padding: 2%;
    height: 1.6em;
    border-radius: 4px;
  } */
.message {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
 
}
.avatar{
  align-self: center;
  margin: 2%;
}
.text{
  display: flex;
  margin-block-start: 1px;
  margin-block-end: 1px;
  flex-grow: 100;
  flex-flow: nowrap column;
}
.date{
  color:lightgrey;
  margin-right: 2%;
}
h3{
  flex-grow: 0.1;
}