
.bg-card{
  display:inline-flex;
  flex-grow:1;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  width: 70%;

}
.message {
  display: flex;
  justify-content: space-between ;
}
.avatar {
  margin: 2%;
}
.text {
  display: flex;
  flex-grow: 100;
  flex-flow: nowrap column;
}
h3 {
  margin-bottom: -1.5%;
}
.date {
  color: lightgrey;
  margin-right: 2%;
}
