.header {
  height: 100px;
  background-color: #1e89d1;
}
.background {
  height: 400px;
  margin-bottom: -400px;
  background-color: #2f9ae0;
}
.chat {
  margin-top:10%;
  display: flex;
  flex-flow: wrap column;
  align-content: center;
  justify-content: flex-end;
}
